<h1>New Scenario</h1>

<form [formGroup]="scenarioForm" (ngSubmit)="submitForm()">

  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Latitude" formControlName="latitude" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Longitude" formControlName="longitude" required>
  </mat-form-field>

  <mat-chip-list #chipList aria-label="Fruit selection" formControlName="color">
    <mat-chip *ngFor="let color of colors"
      [ngStyle]="{'background': color.value, color:'white', width: (90 / colors.length) + '%'}"
      [ngClass]="{'color-selected': selectedColor !== color.value}" (click)="changeColor(color.value)">
    </mat-chip>
  </mat-chip-list>
  
  <br>

  <label class="custom-file-upload">
    <input #stationsInput (change)="stationFileChange()" type="file" />
    {{ stationFileName }}
  </label>

  <label class="custom-file-upload">
    <input #genInput (change)="genFileChange()" type="file" />
    {{ genFileName }}
  </label>

  <label class="custom-file-upload">
    <input #capInput (change)="capFileChange()" type="file" />
    {{ capFileName }}
  </label>

  <hr>

  <button mat-raised-button color="primary" type="submit" [disabled]="!scenarioForm.valid">Submit</button>

</form>
