<div #windowDiv class="window" style="position:absolute;" appHavenWindowBringforward [havenWindow]="this">

  <div class="app-container mat-elevation-z8" [ngStyle]="{'border-color': color}">
    <app-factory [appType]="appType" [id]="id" [scenario]="scenario" [query]="query" #appDiv> </app-factory>
  </div>
  <div class="title mat-elevation-z8" #title appHavenWindowDrag [windowDiv]="windowDiv" [havenWindow]="this"
    [ngStyle]="{'background': color, 'color': 'white', 'border-color': color}">

    <p>{{ name }} - {{ year }} - {{ renewablePercent }}%</p>

    <mat-icon style="background: #ef3030; float:right;" (click)="removeWindow()"> close </mat-icon>
    <mat-icon *ngIf="lockState" style="background: #e1c428; float:right;" (click)="lockWindow()"> lock</mat-icon>
    <mat-icon *ngIf="!lockState" style="background: #e1c428; float:right;" (click)="lockWindow()"> lock_open</mat-icon>
    <mat-icon *ngIf="menuState === 'notactive'" style="background: #1eb01e;" (click)="toggleMenu()">vertical_align_bottom </mat-icon>
    <mat-icon *ngIf="menuState === 'active'" style="background: #1eb01e;" (click)="toggleMenu()">vertical_align_top </mat-icon>

  </div>


  <div class="resize-handle" appHavenWindowResize [windowDiv]="windowDiv" [havenWindow]="this" [titleDiv]="title"
    [menuDiv]="menu" [appDiv]="appDiv"></div>

  <div class="window-menu mat-elevation-z8" #menu [ngStyle]="{'color': color, 'border-color': color}"
    [@menuOpen]="menuState" appHavenWindowBringforward [havenWindow]="this">
    <app-menu-factory [appType]="appType" [id]="id" [scenario]="scenario" [query]="query"> </app-menu-factory>

  </div>
</div>
