

.window{
  position: absolute;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.09),
              4px 4px 3px 1px rgba(0, 0, 0, 0.1),
              2px 2px 10px 5px rgba(0, 0, 0, 0.1);

}

.app-container {
  border-radius: 20px;
  overflow:hidden;
  border: 3px #28608d solid;
  height: 100%;
  width: 100%;
}

.handle {
  user-select: none;
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: -18px;
  left: -19px;
  z-index: 1000;
  background-color: white;
  border: 5px #28608d solid;
  border-radius: 50%;
  display: inline-block;
  line-height: 65px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #28608d;
}

.resize-handle {
  user-select: none;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: -15px;
  right: -15px;
  z-index: 1000;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  cursor: se-resize;
}
