<h1>Add Layer to {{data.name}}</h1>

<form [formGroup]="layerForm" (ngSubmit)="submitForm()">

  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name" required>
  </mat-form-field>

  <mat-chip-list #chipList formControlName="color">
    <mat-chip *ngFor="let color of colors"
      [ngStyle]="{'background': color.value, color:'white', width: (90 / colors.length) + '%'}"
      [ngClass]="{'color-selected': selectedColor !== color.value}" (click)="changeColor(color.value)">
    </mat-chip>
  </mat-chip-list>

  <label class="custom-file-upload">
    <input #layerInput (change)="layerFileChange()" type="file" />
    {{ layerFileName }}
  </label>

  <mat-slide-toggle color="primary" (change)="customFillChange($event)">Custom Fill</mat-slide-toggle>



  <form *ngIf="customFill">

    <div *ngFor="let operation of operations; index as i;">
      <mat-form-field class="fill-selects">
        <mat-label>Property</mat-label>
        <mat-select (selectionChange)="selChange($event, operation)">
          <mat-option *ngFor="let prop of properties" [value]="prop">{{prop}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="operation.property == 'Custom Value'" class="fill-selects">
        <mat-label>Custom Value</mat-label>
        <input matInput type="number" placeholder="Custom Value" (input)="customValChange($event, operation)">
      </mat-form-field>

      <mat-form-field class="fill-selects">
        <mat-label>Operand</mat-label>
        <mat-select (selectionChange)="operandChange($event, operation)">
          <mat-option value="+"> + </mat-option>
          <mat-option value="-"> - </mat-option>
          <mat-option value="*"> * </mat-option>
          <mat-option value="/"> / </mat-option>
        </mat-select>
      </mat-form-field>

      <button style="float:right;" mat-flat-button color="warn" (click)="remove(i)">Remove</button>

    </div>
    <button mat-flat-button color="primary" (click)="add()">Add</button>
    <hr>
    <h2>{{ currentOperation }}</h2>
    <h4>{{ currentOperationLiteral }}</h4>
    <br>


  </form>

  <hr>

  <button mat-raised-button color="primary" type="submit">Submit</button>

</form>
