.mat-raised-button {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  background: #28608d;
  border-radius: 16px;
  width: calc(100% - 24px);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 28px;
  margin-top: 28px;
}

.color-selected {
  border: 8px white solid
}
