<h1>Add Layer to {{data.name}}</h1>

<form [formGroup]="layerForm" (ngSubmit)="submitForm()">

  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name" required>
  </mat-form-field>

  <mat-chip-list #chipList formControlName="color">
    <mat-chip *ngFor="let color of colors"
      [ngStyle]="{'background': color.value, color:'white', width: (90 / colors.length) + '%'}"
      [ngClass]="{'color-selected': selectedColor !== color.value}" (click)="changeColor(color.value)">
    </mat-chip>
  </mat-chip-list>

  <label class="custom-file-upload">
    <input #layerInput (change)="layerFileChange()" type="file" />
    {{ layerFileName }}
  </label>

  <br>

  <button mat-raised-button color="primary" type="submit" [disabled]="!layerForm.valid">Submit</button>

</form>
