<div class="legend-container">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip [ngStyle]="{'background': '#21897E'}" selected>E3GenMod</mat-chip>
    <mat-chip [ngStyle]="{'background': '#5386E4'}" selected>PostApril</mat-chip>
    <mat-chip [ngStyle]="{'background': '#88498F'}" selected>E3</mat-chip>
    <mat-chip [ngStyle]="{'background': '#DD6E42'}" selected>Maui</mat-chip>
    <mat-chip [ngStyle]="{'background': '#6C698D'}" selected>Big Island</mat-chip>
  </mat-chip-list>
</div>


