<h1>Layer Fill Configuration</h1>

<form>

  <div *ngFor="let operation of operations; index as i;">
    <mat-form-field>
      <mat-label>Property</mat-label>
      <mat-select (selectionChange)="selChange($event, operation)">
        <mat-option *ngFor="let topping of tops" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="operation.property == 'Custom Value'">
      <mat-label>Custom Value</mat-label>
      <input matInput type="number" placeholder="Custom Value" (input)="customValChange($event, operation)">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Operand</mat-label>
      <mat-select (selectionChange)="operandChange($event, operation)">
        <mat-option value="+"> + </mat-option>
        <mat-option value="-"> - </mat-option>
        <mat-option value="*"> * </mat-option>
        <mat-option value="/"> / </mat-option>
      </mat-select>
    </mat-form-field>

    <button style="float:right;" mat-flat-button color="warn" (click)="remove(i)">Remove</button>

  </div>
  <button mat-flat-button color="primary" (click)="add()">Add</button>
  <hr>
  <h2>{{ currentOperation }}</h2>
  <h4>{{ currentOperationLiteral }}</h4>
  <br>

  <button mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>

</form>
