<app-menu-blade [menuState]="chartMenuState" [menuItems]="chartItems"> </app-menu-blade>
<app-menu-blade [menuState]="mapMenuState" [menuItems]="mapItems"> </app-menu-blade>
<app-menu-blade [menuState]="settingsMenuState" [menuItems]="settingsItems"> </app-menu-blade>

<img class="logo mat-elevation-z8" src="./assets/logo/havenlogo.png" mat-elevation-z2>



<button *ngFor="let button of buttons" [ngStyle]="{'bottom': button.bottom, 'left': button.left}" mat-mini-fab
  [color]="(button.selected) ? 'primary' : 'warn'" (click)="button.click()" [matTooltip]="button.text"
  matTooltipPosition="right">
  <mat-icon>{{button.icon}}</mat-icon>
</button>
